////
/// Primary screen stylesheet.
///
/// This is the primary stylesheet. We don't actually write any styles here.
/// Instead, we import all of our styles from partials within the sub-folders.
/// This file is set up based on the Inverted Triangle CSS (ITCSS) system,
/// which gets more specific as we drill down each layer.  This keeps your
/// style code lean and organized.
///
/// @group  Styles
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://github.com/benlumia007/benjlu
////

.site-header {
    &.header-image {
        background: url( "/assets/images/custom-image.jpg" );
        background-size: cover !important;
        box-sizing: border-box;
        padding: 10rem 0;

        .site-branding {
            text-align: center;

            .site-title {
                font-size: 3.250rem;
                margin: 0;
                padding: 0;

                a {
                    border-bottom: none;
                    color: color( white );
                    text-decoration: none;
                }
            }

            .site-description {
                color: color( white );
                font-size: 1.125rem;
                margin: 0;
                padding: 0;
            }
        }
    }
}