@media screen and ( min-width: 73.125rem ) {
    .site-content {
        margin: 1.125rem auto;
        max-width: 73.125rem;

        .right-sidebar {
            .content-area {
                float: left;
                width: 68.376068376068376%;
            }
        }
    }
}